* {
  margin: 0;
  padding: 0;
}
#nav {
  padding: 5px 20px;
}
#contato {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  padding: 50px;
  background-color: #659ec6;
  height: auto;
  width: 50vw;
}

#aside {
  border-right: 1px solid #333;
}

@media only screen and (max-width: 768px) {
  #header {
    order: 0;
  }
  #main {
    order: 1;
  }
  #contato {
    order: 1;
    display: block;
  }
  .formulario {
    width: auto;
    margin-top: 80px;
  }
  #aside {
    order: 2;
    flex: 1 1 100vw;
  }
  #footer {
    order: 3;
  }
}
