* {
  margin: 0;
  padding: 0;
}

.formulario {
  padding: 100px;
  background-color: #659ec6;
  height: auto;
  width: 100%;
}

#aside {
  border-right: 1px solid #333;
}

@media only screen and (max-width: 768px) {
  #header {
    order: 0;
  }
  #main {
    order: 1;
  }
  #aside {
    order: 2;
    flex: 1 1 100vw;
  }
  #footer {
    order: 3;
  }
}
