Color Theme Swatches in Hex .Natureza-1-hex {
  color: #070e26;
}
.Natureza-2-hex {
  color: #113059;
}
.Natureza-3-hex {
  color: #2474a6;
}
.Natureza-4-hex {
  color: #419bbf;
}
.Natureza-5-hex {
  color: #55c1d9;
}

/* Color Theme Swatches in RGBA */
.Natureza-1-rgba {
  color: rgba(6, 14, 38, 1);
}
.Natureza-2-rgba {
  color: rgba(16, 48, 89, 1);
}
.Natureza-3-rgba {
  color: rgba(36, 116, 165, 1);
}
.Natureza-4-rgba {
  color: rgba(65, 155, 191, 1);
}
.Natureza-5-rgba {
  color: rgba(84, 192, 216, 1);
}

/* Color Theme Swatches in HSLA */
.Natureza-1-hsla {
  color: hsla(225, 70, 8, 1);
}
.Natureza-2-hsla {
  color: hsla(213, 68, 20, 1);
}
.Natureza-3-hsla {
  color: hsla(202, 63, 39, 1);
}
.Natureza-4-hsla {
  color: hsla(196, 49, 50, 1);
}
.Natureza-5-hsla {
  color: hsla(191, 63, 59, 1);
}

* {
  margin: 0;
  padding: 0;
}

#nav {
  padding: 5px 20px;
}
#contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formulario {
  padding: 50px;
  background-color: #2474a6;
  border-radius: 5px;
  height: auto;
  width: 50vw;
}

#aside {
  border-right: 1px solid #333;
}

.divLogin {
  margin: auto;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#formLogin {
  border-radius: 5px;
  background-color: #2474a6;
  padding: 60px;
}
/* Estilo para a tabela */
.tabela-contato {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Estilo para as células da tabela */
.tabela-contato th,
.tabela-contato td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Estilo para as células do cabeçalho */
.tabela-contato th {
  background-color: #001a4d; /* Azul escuro */
  color: white;
}

/* Estilo para linhas alternadas */
.tabela-contato tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Azul claro */
}

@media only screen and (max-width: 768px) {
  #header {
    order: 0;
  }
  #main {
    order: 1;
  }
  #contato {
    order: 1;
    display: block;
  }
  #formulario {
    width: auto;
    margin-top: 80px;
  }
  #aside {
    order: 2;
    flex: 1 1 100vw;
  }
  .tituloContato {
    margin-top: 30px;
  }
  #footer {
    order: 3;
  }
}
